.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#area {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
}


fieldset {
    width: 300px;
    height: 290px;
    margin-top: 30px
}

legend {
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#formulario label {
    margin-right: 5px;
}

#formulario input.campo_nome,
#formulario input.campo_email,
#formulario textarea.msg,
#formulario input.btn_submit {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.padding-30 {
    padding: 30px;
}
